<html>
<head>
<title>My Favorite Things Installer</title>
</head>
<body>
<h3>Welcome to the 'My Favorite Things' Installer</h3>

<form action=<TMPL_VAR NAME=SCRIPTNAME> method=post>
<table width=1000>
  <tr><td colspan=2><hr></td></tr>
  <tr><td>Please enter your new admin password: &nbsp;</td><td> <input type="password" size=20 maxlength=20 name="newPassword1"></td></tr>
  <tr><td>Please repeat your admin password: &nbsp; </td><td> <input type="password" size=20 maxlength=20 name="newPassword2"></td></tr>
  <tr><td colspan=2>&nbsp;</td></tr>
  <tr>
    <td colspan=2>
      <hr>
      <p>In the future your download vouchers will have a link like <i><TMPL_VAR NAME=BASEURL>/<b>downloads</b>/myExampleRelease</i> printed on it. In this step you create the directory
      <i><b>downloads</b></i>.</p>

      <p>This directory will be the entry point for all of your downloads. Since this directory will also appear on all of your download vouchers it is advisable to choose a nice, short name.</p>
      <p>'My Favorite Things' is suggesting a directory name but you can also overwrite it with your own directory name. A sub directory is also possible. Use a '/' inside the path e.g. 'downloads/promo'. </p>
    </td>
  </tr>
  <tr><td colspan=2>&nbsp;</td></tr>
  <tr><td><p>Central Web Directory:</td><td><TMPL_VAR NAME=BASEURL>/<input type="text" size=20 maxlength=40 name="forwarderDir" value="<TMPL_VAR NAME=FORWARDERDIR>">/myExampleRelease</p></td></tr>
  <tr><td colspan=2><hr></td></tr>
  <tr><td colspan=2>
    <p>'My Favorite Things' uses style sheets for its layout. The default location for them is the directory <i><TMPL_VAR NAME=CSSPATH></i>.
    You can leave this default or change it to your needs. Again, sub directories divided by a '/' are allowed.</p>

  <tr><td colspan=2>&nbsp;</td></tr>
  <tr><td>Style Sheet Path:</td><td><TMPL_VAR NAME=DOCROOT>/<input type="text" size=20 maxlength=40 name="cssDir" value="<TMPL_VAR NAME=CSSDIR>"></td></tr>
  <tr><td colspan=2><hr></td></tr>
  <tr><td colspan=2><font color=red><TMPL_VAR NAME=ERRORMESSAGE></font></td></tr>
</table>

<input type="submit" value="Install">

<input type="hidden" name="rm" value="processInstall">
</form>


</body>
</html>