<html>
<head>
<title>My Favorite Things Installer - Error</title>
</head>
<body>
The installation completed successfully. However this error occurred: 
<p>

<TMPL_IF NAME=FORWARD_DIR_ACCESSIBLE>
This is serious!! The content of <a href="<TMPL_VAR NAME=FORWARDERURL>" target=_blank><TMPL_VAR NAME=FORWARDERURL></a> is listable by everyone via the web.
<p> 
Since this directory will contain the links to your downloads you MUST protect it.
I have already created the file <TMPL_VAR NAME=FORWARDERPATH_HTACCESS> with the content 'Options -Indexes' for you.
However, this has not resolved the issue! Please contact your web-server admin.
</TMPL_IF>


<TMPL_IF NAME=CHMOD_FAILED>
I could not remove the execution rights of the installer script.
Please take away the execution rights of <TMPL_VAR NAME=SCRIPTFILENAME> 
or delete the file completely. Otherwise everyone is able to run the installer via the web again which
could delete  your data!
</TMPL_IF>

When you have fixed this error you can login here: <a href="<TMPL_VAR NAME=RELEASECGIURL>"><TMPL_VAR NAME=RELEASECGIURL></a>
</body>
</html>