<div id=releaseDeleteRelease>
<p class=highlight>Do you really want to delete the release '<TMPL_VAR NAME="RELEASENAME">' ?</p>
<p>
<a href="<TMPL_VAR NAME=SCRIPTNAME>">No</a>
<a href="<TMPL_VAR NAME=SCRIPTNAME>?rm=deleteReleaseFinal&releaseId=<TMPL_VAR NAME=RELEASEID>">Yes</a>
</p>
</div>