<div id=wizardProjectDetails>
<p>
<form action=<TMPL_VAR NAME=SCRIPTNAME> method=post>
<table>
	<tr><td>Please enter the title of the release: &nbsp; </td><td><input type="text" size=20 maxlength=50 name="releaseName" value="<TMPL_VAR NAME=RELEASENAME>" ></tr></td>
	<tr><td>Please enter the release ID:</td><td><input type="text" size=20 maxlength=50 name="releaseId" value="<TMPL_VAR NAME=RELEASEID>" ></tr></td>
</table>
<p class=highlight><TMPL_VAR NAME=ERRORMESSAGE></p>

 <input type="submit" value="Next">
 <input type="hidden" name="rm" value="wizardReleaseDetails">
</p>
<blockquote>
<p>The release title is the name of your release. In most cases this is the album title.</p> 
<p>The release ID is the main internal key of 'My Favorite Things'. It is recommended to use the release code of the record here. Whatever ID you choose, it has to be unique for each release.</p> 
</blockquote>
</div>
