
<div id=wizardReleaseCreated>
<p>
<h4>Finished!</h4>
</p>
<p>
Congratulations. You have successfully created a new release. To print out the download voucher 
<ul>
	<li>Open the menu item "Manage releases"</li>
	<li>Select your release</li>
	<li>Click on "Export Download Voucher"</li>
</p>
</div>
