      <div id="nav">
        <!-- skiplink anchor: navigation -->
        <a id="navigation" name="navigation"></a>
        <div class="hlist">
          <!-- main navigation: horizontal list -->
          <ul>
            <li><a href="<TMPL_VAR NAME=CGIPATH>/Releases.cgi">Manage Releases</a></li>
            <li><a href="<TMPL_VAR NAME=CGIPATH>/Wizard.cgi">Add new Release</a></li>
            <li><a href="<TMPL_VAR NAME=CGIPATH>/Releases.cgi?rm=changePassword">Change Password</a></li>
            <li><a href="<TMPL_VAR NAME=CGIPATH>/Releases.cgi?rm=logout">Logout</a></li>
          </ul>
        </div>
      </div>
