<div id="dialogEditVoucher" title="Edit Voucher" style="text-align:center;">
    <form id="formEditVoucher" action="<TMPL_VAR NAME=SCRIPTNAME>">
        <table class=myFavTab>
            <tr>
                <td class=myFavTab style="background-color: #eeead1;">
                    <div class="myFavRemainingChars" id="spanEditVoucherHeader" style="position:relative; left: 160px">
                        <span id="spanEditVoucherHeaderRemainingChars"></span>&nbsp;/&nbsp;<span id="spanEditVoucherHeaderTotalChars"></span>
                    </div>
                </td>
                <td class=myFavTab></td>
            </tr>
            <tr>
                <td class=myFavTab style="background-color: #eeead1; padding-top: 0px">
                    <textarea id="textareaEditVoucherHeader" name="textareaEditVoucherHeader" cols="50" rows="3"><TMPL_VAR NAME=VOUCHER_HEADER></textarea>
                </td>
                <td class=myFavTab style="padding-left: 10px; text-align: left" >
                    <input type=checkbox name="buttonEditVoucherDisableHeader" <TMPL_VAR NAME=VOUCHER_HEADER_DISABLED> value="1" id="buttonEditVoucherDisableHeader" />&nbsp;Don't print voucher header
                </td>
            </tr>
            <tr>
                <td class=myFavTab style="background-color: #eeead1;">
                    <div class="myFavTerminal"><TMPL_VAR NAME=DOWNLOADURL></div>
                    <div class="myFavFormatedDownloadCode" style="padding-top: 15px; padding-bottom: 5px"><TMPL_VAR NAME=EXAMPLE_CODE></div>
                </td>
                <td class=myFavTab></td>
            </tr>
            <tr>
                <td class=myFavTab style="background-color: #eeead1;">
                    <div class="myFavRemainingChars" id="spanEditVoucherFooter" style=" position:relative; left: 160px">
                        <span id="spanEditVoucherFooterRemainingChars"></span>&nbsp;/&nbsp;<span id="spanEditVoucherFooterTotalChars"></span>
                    </div>
                </td>
                <td class=myFavTab></td>
            </tr>
            <tr>
                <td class=myFavTab style="background-color: #eeead1; padding-top: 0px">
                    <textarea id="textareaEditVoucherFooter" name="textareaEditVoucherFooter" cols="50" rows="2"><TMPL_VAR NAME=VOUCHER_FOOTER></textarea>
                </td>
                <td class=myFavTab style="text-align: left">
                    <input type=checkbox name="buttonEditVoucherDisableFooter" <TMPL_VAR NAME=VOUCHER_FOOTER_DISABLED> value="1" id="buttonEditVoucherDisableFooter"/>&nbsp;Don't print voucher footer
                </td>
            </tr>
            <tr>
                <td class=myFavTab style="background-color: #eeead1;">
                    <p><TMPL_VAR NAME=VOUCHER_AD> <TMPL_VAR NAME=VERSION_ID></p>
                </td>
                <td class=myFavTab></td>
            </tr>
            <tr>
                <td class=myFavTab>
                    <br>    
                    <p>
                        <input type="submit" id="buttonEditVoucherSave" value="Save">
                        <input type="button" id="buttonEditVoucherReset" value="Reset To Default">
                        <input type="button" id="buttonEditVoucherCancel" value="Cancel">
           
                        <input type="hidden" name="rm" value="editVoucher" />
                        <input type="hidden" name="releaseId" value="<TMPL_VAR NAME=RELEASEID>" />
                        <input type="hidden" id="voucherGlobalHeader" value="<TMPL_VAR NAME=VOUCHER_GLOBAL_HEADER>" />
                        <input type="hidden" id="voucherGlobalFooter" value="<TMPL_VAR NAME=VOUCHER_GLOBAL_FOOTER>" />
                    </p>    
                </td>
                <td class=myFavTab></td>
            </tr>
        </table>
    </form>
</div>
