<div id=finishCodeStatus>

<p>
<TMPL_IF ERROR>
	An error has occured while trying to set the code to 'unused'. The code is still in status used. Maybe you should
	check the file permissions.
<TMPL_ELSE>
	The code has been reset to 'unused'.
</TMPL_IF>
</p>
</div>
