<div id=releaseStatusPage>

<TMPL_IF NAME=RELEASENAMELOOP>
<p>

<form id='releaseSelectionForm' action="<TMPL_VAR NAME=SCRIPTNAME>">
    <select name="releaseId">
        <option value="">Select a release</option>
        <option value="">-----------------------------------</option>
        <TMPL_LOOP NAME="RELEASENAMELOOP">
	      <option value="<TMPL_VAR NAME="RELEASEIDHASH">" ><TMPL_VAR NAME="RELEASENAME"></option>
         </TMPL_LOOP>    
    </select>
</form>
</p>
<TMPL_ELSE>
<p>
No releases found in the database.
</p>
</TMPL_IF>

<TMPL_IF NAME=RELEASEID>
    <hr />
    <p><h4>Release "<TMPL_VAR NAME=RELEASENAME>"</h4></p>
    <p>
        <table>
        	<tr><td>Release name:</td><td><TMPL_VAR NAME=RELEASENAME></td></tr>
        	<tr><td>Release ID:</td><td><TMPL_VAR NAME=RELEASEID></td></tr>
            <tr><td>Status</td><td id='releaseStatus'><TMPL_VAR NAME=STATUS></td></tr>
        	<tr><td>Codes used:</td><td><TMPL_VAR NAME=USEDCODES> of <TMPL_VAR NAME=TOTALCODES></td></tr>
        
        	<TMPL_IF NAME="UPLOADFILESIZE">
        	    <tr><td>Size of uploaded file:</td><td><TMPL_VAR NAME=UPLOADFILESIZE>Bytes</td></tr>
        	<TMPL_ELSE>
        		<tr><td>File hasn't been uploaded</td>
        		    <td>
        			    <a href="<TMPL_VAR NAME=SCRIPTNAME>?rm=modifyFile&releaseId=<TMPL_VAR NAME=RELEASEID>">
        				    Upload here
        			    </a>
        		    </td>
        		</tr>	
            </TMPL_IF>
        </table>
    </p>
    <hr />
    <p>
        <a id="showDetails" href="#">Show details</a>
        &nbsp; | &nbsp;
        <TMPL_IF NAME="UPLOADFILEPATH">	
        	<a href="<TMPL_VAR NAME=SCRIPTNAME>?rm=modifyFile&releaseId=<TMPL_VAR NAME=RELEASEID>">
        		Replace Uploaded File
        	</a>
        <TMPL_ELSE>
            <a href="<TMPL_VAR NAME=SCRIPTNAME>?rm=modifyFile&releaseId=<TMPL_VAR NAME=RELEASEID>">
                Add File
            </a>
        </TMPL_IF>
        &nbsp; | &nbsp;
        <a href="<TMPL_VAR NAME=SCRIPTNAME>?rm=exportToPdf&releaseId=<TMPL_VAR NAME=RELEASEID>">Export Download-Vouchers</a>
        &nbsp; | &nbsp;
        <a href="<TMPL_VAR NAME=SCRIPTNAME>?rm=exportToCsv&releaseId=<TMPL_VAR NAME=RELEASEID>">Export CSV-File</a>
        &nbsp; | &nbsp; 
        <a href="<TMPL_VAR NAME=SCRIPTNAME>?rm=checkCodeStatus&releaseId=<TMPL_VAR NAME=RELEASEID>">Check Code Status</a>
        &nbsp; | &nbsp;
        <a id="deleteRelease" href="#">Delete Release</a>
        &nbsp; | &nbsp;
        <a id="changeReleaseStatus" href="#">Change Release Status</a>
        &nbsp; | &nbsp;
        <a id="editVoucher" href="#">Edit Voucher</a>


    </p>
</TMPL_IF>

<!------- Show Details Button Data -------------->
<div id="dialogExtraInformation" title="Release Details">
    <p><h4>Paths</h4></p>
    <p>
    <table>
        <tr><td>Public download URL (forwarder): </td><td> <TMPL_VAR NAME=DOWNLOADURL></td></tr>
    
        <TMPL_IF NAME="UPLOADFILEPATH">
            <tr><td>Path to uploaded archive file: </td><td> <TMPL_VAR NAME=UPLOADFILEPATH></td></tr>
        </TMPL_IF>
        
        <tr><td>Path to database file containing <br> the download codes: </td><td> <TMPL_VAR NAME=RELEASEDBPATH></td></tr>
        <tr><td>Path to actual download program: &nbsp;  </td><td> <TMPL_VAR NAME=RELEASECGIURL></td></tr>
    </table>
    </p>
    <p style="text-align:center; padding-top: 10px">
        <input type="button" id="buttonShowDetailsOK" value="OK">
    </p>
</div>

<div id="dialogChangeReleaseStatus" title="Change Release Status">
   <form id="formChangeReleaseStatus" action="<TMPL_VAR NAME=SCRIPTNAME>">
       
       <!-- different user questions depending on status -->
       <p id='paraSetOffline'>When shall this release become unavailable for public access?</p>
       <p id='paraSetOnline'>Do you want to set the release "<TMPL_VAR NAME=RELEASENAME>" online?</p>
       <p id='paraNoChangeFileMissing'>To change the status of release "<TMPL_VAR NAME=RELEASENAME>" you have to upload a file first.</p>
       <p id='paraRemoveExpiry'>Remove the expiry date of the release?</p>
       
       <div style="text-align:center;">
          <div id='divInputsSetOffline'>
               <p>
                   <input type="radio" name="offlineFrom" value="now" id="radioSetOfflineNow" /> Now
                   <input type="radio" name="offlineFrom" value="date" id="radioSetOfflineLater" /> In the future
               </p>
               <div id="divDatePicker">
                   <p>Date: <input type="text" style="width: 70px" id="txtDatePicker" /></p>
               </div>
           </div>
           <p><button id="buttonOK">OK</button></p> 
           <input type="hidden" name="rm" value="changeStatus" />
           <input type="hidden" name="releaseId" value="<TMPL_VAR NAME=RELEASEID>" />
       </div>
   </form>
</div>

<div id="dialogEditVoucher" title="Edit Voucher" style="text-align:center;">
    <form id="formEditVoucher" action="<TMPL_VAR NAME=SCRIPTNAME>">
        <table class=myFavTab>
            <tr>
                <td class=myFavTab style="background-color: #eeead1;">
                    <div class="myFavRemainingChars" id="spanEditVoucherHeader" style="position:relative; left: 160px">
                        <span id="spanEditVoucherHeaderRemainingChars"></span>&nbsp;/&nbsp;<span id="spanEditVoucherHeaderTotalChars"></span>
                    </div>
                </td>
                <td class=myFavTab></td>
            </tr>
            <tr>
                <td class=myFavTab style="background-color: #eeead1; padding-top: 0px">
                    <textarea id="textareaEditVoucherHeader" name="textareaEditVoucherHeader" cols="50" rows="3"><TMPL_VAR NAME=VOUCHER_HEADER></textarea>
                </td>
                <td class=myFavTab style="padding-left: 10px; text-align: left" >
                    <input type=checkbox name="buttonEditVoucherDisableHeader" <TMPL_VAR NAME=VOUCHER_HEADER_DISABLED> value="1" id="buttonEditVoucherDisableHeader" />&nbsp;Don't print voucher header
                </td>
            </tr>
            <tr>
                <td class=myFavTab style="background-color: #eeead1;">
                    <div class="myFavTerminal"><TMPL_VAR NAME=DOWNLOADURL></div>
                    <div class="myFavFormatedDownloadCode" style="padding-top: 15px; padding-bottom: 5px"><TMPL_VAR NAME=EXAMPLE_CODE></div>
                </td>
                <td class=myFavTab></td>
            </tr>
            <tr>
                <td class=myFavTab style="background-color: #eeead1;">
                    <div class="myFavRemainingChars" id="spanEditVoucherFooter" style=" position:relative; left: 160px">
                        <span id="spanEditVoucherFooterRemainingChars"></span>&nbsp;/&nbsp;<span id="spanEditVoucherFooterTotalChars"></span>
                    </div>
                </td>
                <td class=myFavTab></td>
            </tr>
            <tr>
                <td class=myFavTab style="background-color: #eeead1; padding-top: 0px">
                    <textarea id="textareaEditVoucherFooter" name="textareaEditVoucherFooter" cols="50" rows="2"><TMPL_VAR NAME=VOUCHER_FOOTER></textarea>
                </td>
                <td class=myFavTab style="text-align: left">
                    <input type=checkbox name="buttonEditVoucherDisableFooter" <TMPL_VAR NAME=VOUCHER_FOOTER_DISABLED> value="1" id="buttonEditVoucherDisableFooter"/>&nbsp;Don't print voucher footer
                </td>
            </tr>
            <tr>
                <td class=myFavTab style="background-color: #eeead1;">
                    <p><TMPL_VAR NAME=VOUCHER_AD> <TMPL_VAR NAME=VERSION_ID></p>
                </td>
                <td class=myFavTab></td>
            </tr>
            <tr>
                <td class=myFavTab>
                    <br>    
                    <p>
                        <input type="submit" id="buttonEditVoucherSave" value="Save">
                        <input type="button" id="buttonEditVoucherReset" value="Reset To Default">
                        <input type="button" id="buttonEditVoucherCancel" value="Cancel">
           
                        <input type="hidden" name="rm" value="editVoucher" />
                        <input type="hidden" name="releaseId" value="<TMPL_VAR NAME=RELEASEID>" />
                        <input type="hidden" id="voucherGlobalHeader" value="<TMPL_VAR NAME=VOUCHER_GLOBAL_HEADER>" />
                        <input type="hidden" id="voucherGlobalFooter" value="<TMPL_VAR NAME=VOUCHER_GLOBAL_FOOTER>" />
                    </p>    
                </td>
                <td class=myFavTab></td>
            </tr>
        </table>
    </form>
</div>

<div id="dialogDeleteRelease" title="Delete '<TMPL_VAR NAME=RELEASENAME>">
    <form id="formDeleteRelease" action="<TMPL_VAR NAME=SCRIPTNAME>">
        <p style="color: #ff0000; padding-top: 10px">
            Do you really want to delete the release '<TMPL_VAR NAME=RELEASENAME>' ?
        </p>
        <p style="text-align:center; padding-top: 10px">
            <input type="submit" id="buttonDeleteReleaseYes" value="Yes">
            <input type="button" id="buttonDeleteReleaseCancel" value="Cancel">
            <input type="hidden" name="rm" value="deleteRelease" />
            <input type="hidden" name="releaseId" value="<TMPL_VAR NAME=RELEASEID>" />
        </p>
    </form>
</div>

 <script>
 $(document).ready(function(){  
     
    // hide dialog divs
 	$('#dialogExtraInformation').hide();
    $('#dialogChangeReleaseStatus').hide();
    $('#dialogEditVoucher').hide();
    $('#dialogDeleteRelease').hide();
    
	
    // open release on select
    $('#releaseSelectionForm').change(function(){
        if ($('#releaseSelectionForm :selected').val()) {
            $(this).submit();
        }
    }); 

    // handle changing release status
    $('#changeReleaseStatus').click(function () {
        //prepare
        hideElements();
        setupReleaseStatusButton();
        // display button
        $( "#dialogChangeReleaseStatus" ).dialog({ minHeight: 100 });
        
        // click functions
        $('#radioSetOfflineNow').click(function () {
            // reset datePicker if selected before
            $('#divDatePicker').hide("normal");
            $('#txtDatePicker').val("");
            $('#buttonOK').removeAttr('disabled');  
         });
         
        $('#radioSetOfflineLater').click(function () {
            // reset "Save" to disabled if coming from "radioSetOfflineNow"
            $('#buttonOK').attr('disabled', true);
            $('#divDatePicker').show("normal");
            $('#txtDatePicker').datepicker({
                minDate: 0,
                onSelect: function() { 
                    enableOKButton();
                }
            });
        });
        
        $('#buttonOK').click(function () {
            var date = "";
            
            if ($('#radioSetOfflineLater')) {
                // set posted value of radio button value to
                // eg 01242011
                date = $('#txtDatePicker').val();
                date = date.replace(/\//g,"");
                $('#radioSetOfflineLater').val(date);
            }
        });

        // helper functions
        function hideElements () {
            $('#buttonOK').attr('disabled', true);
            $('#divDatePicker').hide();
            $('#paraSetOffline').hide();
            $('#paraNoChangeFileMissing').hide();
            $('#paraSetOnline').hide();
            $('#paraRemoveExpiry').hide();
            $('#divInputsSetOffline').hide();
        }

        function setupReleaseStatusButton() {
            var status = $('#releaseStatus').text();
            
            if ( status === "Online" ) {
                $('#paraSetOffline').show();
                $('#divInputsSetOffline').show();
            }
            else if ( status === "Offline" || status === "Expired" ) {
                $('#paraSetOnline').show();
                enableOKButton();
            }
            else if ( statusIsExpiryDate(status) ) {
                $('#paraRemoveExpiry').show(); 
                enableOKButton();   
            }
            else if ( status === "File missing" ) {
                 $('#paraNoChangeFileMissing').show();
                 $('#buttonOK').hide();
            }
        }

        function statusIsExpiryDate(status) {
            if ( status.indexOf("Expires at") != -1 ) {
                return true;
            }
            return false;
        }
        
        function enableOKButton() {
            $('#buttonOK').removeAttr('disabled');
        }
        
    })

    // details dialog
    $('#showDetails').click(function () {
        $( "#dialogExtraInformation" ).dialog({ width: 600 });
        
        $('#buttonShowDetailsOK').click(function () {
            $( "#dialogExtraInformation" ).dialog('close');        
        })
    })
    
    // dialog "delete release"
    $('#deleteRelease').click(function () {
        $( "#dialogDeleteRelease" ).dialog({ height: 'auto',
                                             minHeight: 50,
                                             modal: true });
                                             
        $('#buttonDeleteReleaseCancel').click(function () {
            $( "#dialogDeleteRelease" ).dialog('close');        
        })
    })
    
    // edit voucher dialog
    $('#editVoucher').click(function () {
        $( "#dialogEditVoucher" ).dialog({ 
            width: 600,
            close: function () {
                cancelEditArea("Header");
                cancelEditArea("Footer");    
            }
        });
           
        // init remaining chars controls
        var minTextLength = 1,
            totalChars = { 'Header':250, 
                           'Footer':200},
        // save init data for reset via cancel or dialog-close                   
            initialText = { 'Header' : $('#textareaEditVoucherHeader').val(),
                            'Footer' : $('#textareaEditVoucherFooter').val()
                          }
            initialPrintStatus = { 'Header' : $('#buttonEditVoucherDisableHeader').is(':checked'),
                                   'Footer' : $('#buttonEditVoucherDisableFooter').is(':checked')
                                 };
              
        drawRemainingChars("Header");
        toggleArea("Header","");

        drawRemainingChars("Footer");
        toggleArea("Footer","");
        
         // update remaining chars when changing the textarea content
        $('#textareaEditVoucherHeader').keyup(function(){
            drawRemainingChars("Header");
        })    
    
        $('#textareaEditVoucherFooter').keyup(function(){
            drawRemainingChars("Footer");
        })    
        
        $('#buttonEditVoucherDisableHeader').click(function () {
            toggleArea("Header","normal");
            toggleSaveButton();
        })    
        
        $('#buttonEditVoucherDisableFooter').click(function () {
            toggleArea("Footer","normal");
            toggleSaveButton();
        })    
        
        $('#buttonEditVoucherReset').click(function () {
            resetAreaToDefault("Header");
            resetAreaToDefault("Footer");
            
            toggleSaveButton();
        })    
        
        $('#buttonEditVoucherCancel').click(function () {
            cancelEditArea("Header");
            cancelEditArea("Footer");
            
            $( "#dialogEditVoucher" ).dialog('close');        
        })
      
         function drawRemainingChars(area) {
            var idTextArea = "#textareaEditVoucher" + area,
                idSpanRemainingChars = "#spanEditVoucher" + area + "RemainingChars",
                idSpanTotalChars = "#spanEditVoucher" + area + "TotalChars",
                textAreaLength=$(idTextArea).val().length;

            $(idSpanTotalChars).text(totalChars[area]);
            $(idSpanRemainingChars).text(textAreaLength);
            
            toggleSaveButton();
        }
        
        // display area depending on checkbox "Don't print voucher header"
        function toggleArea(area, speed) {
            var idButtonDisableArea = "#buttonEditVoucherDisable" + area,
                idTextArea = "#textareaEditVoucher" + area,
                idSpanArea = "#spanEditVoucher" + area;
    
            if ( $(idButtonDisableArea).is(':checked')) {
                $(idTextArea).hide(speed);  
                $(idSpanArea).hide(speed);
            }
            else {
                $(idTextArea).show(speed);  
                $(idSpanArea).show(speed);
            }
        }

        function cancelEditArea(area) {
            var idTextArea = "#textareaEditVoucher" + area,
                idCheckBoxDisableArea = "#buttonEditVoucherDisable" + area;
            
            $(idTextArea).val(initialText[area]);
            drawRemainingChars(area);
         
            if ( initialPrintStatus[area] ) {
                $(idCheckBoxDisableArea).attr('checked', true);    
            } 
            else {
                $(idCheckBoxDisableArea).attr('checked', false);    
            }
            toggleArea(area, "normal");
        }
        
        function resetAreaToDefault(area) {
            var idDefaultAreaText = "#voucherGlobal" + area,
                idTextArea = "#textareaEditVoucher" + area,
                idCheckBoxDisableArea = "#buttonEditVoucherDisable" + area,
                defaultText;
            
            // reset area text to default text stored in hidden form field    
            defaultText = $(idDefaultAreaText).attr("value"); 
            $(idTextArea).val(defaultText);
            drawRemainingChars(area);
         
            // all areas are printed by default
            $(idCheckBoxDisableArea).attr('checked', false);    
            toggleArea(area, "normal");
        }

         function toggleSaveButton() {
             if ( ( areaIsValid('Header') || $('#buttonEditVoucherDisableHeader').is(':checked') ) 
                  && 
                  ( areaIsValid('Footer') || $('#buttonEditVoucherDisableFooter').is(':checked') )
                ) {
                 $('#buttonEditVoucherSave').removeAttr('disabled');
             }
             else {
                 $('#buttonEditVoucherSave').attr('disabled', true);
             }
         }
        
         function areaIsValid(area) {
             var idTextArea = "#textareaEditVoucher" + area,
                 textAreaLength=$(idTextArea).val().length;
             
             if ( textAreaLength > minTextLength &&
                  textAreaLength < totalChars[area]) {
                return true;
             }
             else {
                return false;
             }     
         }
     })
 })
 </script>