<div id="dialogCheckCodeStatus" title="Checking Code Status For '<TMPL_VAR NAME=RELEASENAME>'">
        <p style="padding-top: 10px; text-align:center;">
            <span id="spanCheckCodeStatusText"></span>    
        </p>
        <p style="text-align:center; padding-top: 5px">
            Code:&nbsp;
            <input type="text" size=10 maxlength=20 id="textDownloadCode">
        </p>
        <p style="text-align:center; padding-top: 5px">
            <input type="button" id="buttonCheckCodeStatus" value="Check">
            <input type="button" id="buttonResetCodeStatus" value="Reset">
            <input type="button" id="buttonCheckCodeStatusCancel" value="Cancel">
        </p>
</div>