<div id=releaseDeleteReleaseFinal>
<p>
<TMPL_IF ERROR>
An error occurred: <TMPL_VAR NAME=ERROR>
<TMPL_ELSE>
Release '<TMPL_VAR NAME="RELEASENAME">' has been successfully deleted. 
</TMPL_IF>
</p>
</div>