<div id=wizardUploadZipFile>
    <TMPL_IF NAME="UPLOAD_CHOOSER">
        <table>
            <tr>
                <td>
                    <input type="radio" name="uploadChooser" id="uploadNow" checked=1>
                </td>
                <td>
                    Upload Now
                </td>
            </tr>
            <tr>
                <td>
                    <input type="radio" name="uploadChooser" id="uploadLater">
                </td>
                <td>
                    Upload Later
                </td>
            </tr>
        </table>
        <p/>
		
		<div id="nextButton">
            <form enctype='multipart/form-data' name="nextButton" action=<TMPL_VAR NAME=SCRIPTNAME>>
			    <input type="submit" value="Next" />
				<input type="hidden" name="rm" value="wizardReleaseCreated" />
                <input type="hidden" name="fileUploaded" value="false" />
            </form>
			<p/>
			<blockquote>
			You can create a new release without uploading now. This might be usefull if you need to create the download vouchers earlier. To add the archive data later, got to "Manage Releases" and "Add Archive".<br>
			Please note: The user download will stay disabled as long as there has no archive file been added.  
			</blockquote>
		</div>
		<p/>
    </TMPL_IF>

    <div id="fileUploadDialog">
        <form name="fileUpload" enctype='multipart/form-data' action=<TMPL_VAR NAME=SCRIPTNAME>
            method=post onsubmit="showdiv();">
            <p>
                Please select the ZIP file containing the packed MP3 files
            </p>
            <p>
                <input id="fileName" name="fileName" type="file" size="20" />
                <p class=highlight>
                    <TMPL_VAR NAME=ERRORMESSAGE>
                </p>
                <input type="submit" id="submitButton" name="submitButton" disabled="disabled" value="Upload" />
				<input type="hidden" name="rm" value="<TMPL_VAR NAME=NEXTRUNMODE>" />
				<input type="hidden" name="releaseId" value="<TMPL_VAR NAME=RELEASEID>" />
				<input type="hidden" name="fileUploaded" value="true" />
                </form>
            </p>
            <blockquote>
                <p>
                    Please note: 
                    <ul>
                        <li>
                            The maximum upload file size is 
                            <TMPL_VAR NAME=MAXALLOWEDSIZE>.
                        </li>
                        <li>
                            While the upload is taking place, please wait until the next page is displayed. A progress bar comes with the next release.
                        </li>
                    </ul>
                </p>
            </blockquote>
    
	        <div id=pleaseWait style="width:400px; margin-left:auto; margin-right:auto; positon:relative; text-decoration: blink; display:none">
                <h2>Uploading, please wait...</h2>
            </div>
       </div>

 <script>
 $(document).ready(function(){
    $('#nextButton').hide();
                 
    $('#uploadLater').click(function(){
        $('#fileUploadDialog').hide("normal");
        $('#nextButton').show("normal");
    })
    
	$('#uploadNow').click(function(){
        $('#fileUploadDialog').show("normal");
        $('#nextButton').hide("normal");
    })
    
    // check if zip file was selected
    $('#fileName').change(function(){
        var allowedExtensions = {
           '.zip' : 1,
           '.ZIP' : 1,
        };
        
        var uploadPathData = $(this).val();
        
        var regExExtension = /\..+$/;
        var regExWhiteSpace = /\s/;

        var extension = uploadPathData.match(regExExtension);
        
        if ( ! allowedExtensions[extension]) {
            $('#submitButton').attr('disabled', true);
            alert("Upload rejected: Invalid archive format, please select another file. (Archive must have a 'zip' extension)");
        } 
        else if ( uploadPathData.match(regExWhiteSpace) ) {
            alert("Upload rejected: The filename must not include white spaces.");
        }
        else {
            $('#submitButton').removeAttr('disabled');
        }
    })
    
 })
 </script>
