<div id=processCodeStatus>
<p><h4>Status of Code '<TMPL_VAR NAME=DOWNlOADCODE>'</h4></p>

<TMPL_IF CODENOTUSED>
	<p>The code has been not requested so far and is ready for download.</p>
<TMPL_ELSE>
	<p><TMPL_VAR NAME=CODESTATUS></p> 
	<p><a href="<TMPL_VAR NAME=SCRIPTNAME>?rm=finishCodeStatus&releaseId=<TMPL_VAR NAME=RELEASEID>&downloadCode=<TMPL_VAR NAME=DOWNlOADCODE>">Set code to 'unused.'</a></p>
</TMPL_IF>
</div>
