<div id="dialogChangeReleaseStatus" title="Change Release Status">
   <form id="formChangeReleaseStatus" action="<TMPL_VAR NAME=SCRIPTNAME>">
       
       <!-- different user questions depending on status -->
       <p id='paraSetOffline'>When shall this release become unavailable for public access?</p>
       <p id='paraSetOnline'>Do you want to set the release "<TMPL_VAR NAME=RELEASENAME>" online?</p>
       <p id='paraNoChangeFileMissing'>To change the status of release "<TMPL_VAR NAME=RELEASENAME>" you have to upload a file first.</p>
       <p id='paraRemoveExpiry'>Remove the expiry date of the release?</p>
       
       <div style="text-align:center;">
          <div id='divInputsSetOffline'>
               <p>
                   <input type="radio" name="offlineFrom" value="now" id="radioSetOfflineNow" /> Now
                   <input type="radio" name="offlineFrom" value="date" id="radioSetOfflineLater" /> In the future
               </p>
               <div id="divDatePicker">
                   <p>Date: <input type="text" style="width: 70px" id="txtDatePicker" /></p>
               </div>
           </div>
           <p><button id="buttonOK">OK</button></p> 
           <input type="hidden" name="rm" value="changeStatus" />
           <input type="hidden" name="releaseId" value="<TMPL_VAR NAME=RELEASEID>" />
       </div>
   </form>
</div>
