	<script>
	function fieldOff() {
		document.getElementById('textField').value = "";
		document.getElementById('textField').disabled = true;	
	}
		function fieldOn() {
		document.getElementById('textField').disabled = false;	
	}
    </script>

<div id=wizardForwarderDetails>
<p>
How do you want to setup the download URL?
</p>

<form action=<TMPL_VAR NAME=SCRIPTNAME> method=post>
<p>
<table>
	<tr>
		<td><p><input type="radio" name="forwarder" value="randomString" onclick="fieldOff()" <TMPL_VAR NAME=RANDOMSTRINGCHECKED> /> 
by 4 characters long random text</p></td>
		<td><p class=dimmed>example: http://your-domain/downloads/QWER</p></td>
	</tr>
	<tr>
		<td><p><input type="radio" name="forwarder" value="releaseName" onclick="fieldOff()" <TMPL_VAR NAME=RELEASENAMECHECKED> /> by release ID</p></td>
		<td><p class=dimmed>The release ID which was choosen two steps before. Example: http://your-domain/downloads/myRelease12</p></td>
	</tr>
	<tr>
		<td><p><input type="radio" name="forwarder" value="customString" id=customString onclick="fieldOn()" <TMPL_VAR NAME=CUSTOMSTRINGCHECKED> /> by custom name</p></td>
		<td><p class=dimmed>A text of your choice. Example: http://your-domain/downloads/a-good-record</p></td>
	</tr>
	<tr colspan=2 ><td><input type=text id=textField name="customDir" value="<TMPL_VAR NAME=CUSTOMDIR>"</td></tr>

</table>
</p>

<p class=highlight><TMPL_VAR NAME=ERRORMESSAGE></p>
<p> 
<input type="submit" value="Next">
<input type="hidden" name="rm" value="wizardUploadFile">
</p>
</form>
</div>
<!-- script refers to the previous div container, replaces onLoad for body-->
<script>
	if (document.getElementById('customString').checked == true)
		fieldOn();
	else
		fieldOff();	
</script>
<blockquote>
<p>At this stage we define the web address which is printed on the download voucher. 'My Favorite Things' tries to create nice download addresses. So instead of http://your-domain/cgi-bin/DownloadFile.cgi?...
it assembles something like http://your-domain/downloads/abcd.</p>
<p>Each of your downloads you create with 'My Favorite Things' has a <u>seperate</u> web address. So your bestselling LP "The Dancing Monkeys - We are the monkeys" has the URL http://your-domain/downloads/abcd where as the single
"The Dancing Monkeys - A monkey in Love" would have http://your-domain/download/edfs.</p>
<p>Here you define how the last part of the download web address, in the previous example the 'abcd'  or 'edfs' part, should be named.</p>
</blockquote>  




