
<div id=wizardNumberOfCodes>
<form action=<TMPL_VAR NAME=SCRIPTNAME> method=post>
<p>How many codes do you need? <input type="text" size=6 maxlength=6 name="codeCount" value="<TMPL_VAR NAME=CODECOUNT>" >
</p>
<p class=highlight><TMPL_VAR NAME=ERRORMESSAGE></p>
<p>
<input type="submit" value="Next">
<input type="hidden" name="rm" value="wizardFordwarderDetails">
</form>
</p>
<blockquote>
<p>Here you define how many download codes should be produced. After the completion of this wizard the codes can be exported as already layouted PDF file or as CSV file. </p>
<p>Hint: Add some more download codes for promotion purposes later on. There is no chance to change the number of codes after this step.</p>
</blockquote>
</div>
