
<p><h4>Thanks for purchasing "<TMPL_VAR NAME=RELEASENAME>"</h4></p>

<form action=<TMPL_VAR NAME=SCRIPTNAME> method=post>
<p>Please enter the download code: <input type="text" size=20 maxlength=20 name="downloadCode" value="<TMPL_VAR NAME=DOWNLOADCODE>" >
<input type="submit" value="Start Download">
</p>

<input type="hidden" name="r" value="<TMPL_VAR NAME=R>">
<input type="hidden" name="rm" value="downloadStartDownload">
</form>

<p class=highlight><TMPL_VAR NAME=ERRORMESSAGE></p>