<div id=downloadAllowed>
<p>Thanks for your purchase. Your download has just started.</p>

<iframe src=<TMPL_VAR NAME=SCRIPTNAME>?rm=streamFile&r=<TMPL_VAR NAME=RELEASEIDHASH>&downloadCode=<TMPL_VAR NAME=DOWNLOADCODE> width="0" height="0" frameborder="0">
	<a href="<TMPL_VAR NAME=SCRIPTNAME>?rm=streamFile&r=<TMPL_VAR NAME=RELEASEIDHASH>&downloadCode=<TMPL_VAR NAME=DOWNLOADCODE>" >
	Please click here to start the download.
	</a>
</iframe>

</div>