      	<div id="footer">
      	<p class=info>
      	Powered by <a href='http://code.google.com/p/myfavoritethings/'>My Favorite Things</a> - The Opensource One-Time Downloader, 
      	Layout based on <a href="http://www.yaml.de/">YAML</a>
      	</p>
      	</div>
		</div>
	</div>
</body>
</html>
