<div id=changePassword>
<form action=<TMPL_VAR NAME=SCRIPTNAME> method=post>
<p>
	<table>
		<tr><td>Your old password </td> <td><input type="password" size=20 maxlength=20 name="oldPassword"></td></tr>
		<tr><td>New password  </td><td><input type="password" size=20 maxlength=20 name="newPassword1"></td></tr>
		<tr><td>New password again </td><td> <input type="password" size=20 maxlength=20 name="newPassword2"></td></tr>
	</table>
</p>
<p class=highlight><TMPL_VAR NAME=ERRORMESSAGE></p>
<p>
<input type="submit" value="Change">
<input type="hidden" name="rm" value="processPasswordChange">
</p>
</form>
</div>
