<html>
<head>    

<script src="<TMPL_VAR NAME=WEB_LIB_PATH>/js/jquery-1.6.1.min.js" type="text/javascript"></script> 
<script src="<TMPL_VAR NAME=WEB_LIB_PATH>/js/jquery-ui-1.8.13.custom.min.js" type="text/javascript"></script> 
<link href="<TMPL_VAR NAME=WEB_LIB_PATH>/css/myFav-jquery-theme/jquery-ui-1.8.13.custom.css" rel="stylesheet" type="text/css" /> 

<script>
/*
 *  File contains code for progress bar and is loaded separatley via iframe 
 *  into wizardUploadFile.tmpl
 */

$(document).ready(function() { 
    $('#progressBar').height(20);
    $('#progressBar').progressbar({ value: 0});
    getUploadStatus();

    function getUploadStatus() {
        $.getJSON("RPC.cgi?",
          {
           rm: "getUploadStatus"    
          },
          function(data) {
              if ( data && data.uploadStatus ) {
                  // upload status data responded, increase polling freq. to 1.5s
                  $('#progressBar').progressbar({ value: data.uploadStatus});
                  window.setTimeout(getUploadStatus, 1500);
              }
              else {
                  // no data found, wait for 3 sek
                  window.setTimeout(getUploadStatus, 3000);
              }
          }
       )
    }
})

</script>

</head>

<body style="margin:0px">
        <div id="progressBar"></div>
</body>
</html>  